@model CuentasCobrar.Models.Transacciones

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transacciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Identificador_Transacción" class="control-label"></label>
                <input asp-for="Identificador_Transacción" class="form-control" />
                <span asp-validation-for="Identificador_Transacción" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_de_Movimiento" class="control-label"></label>
                <input asp-for="Tipo_de_Movimiento" class="form-control" />
                <span asp-validation-for="Tipo_de_Movimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_Documento" class="control-label"></label>
                <select asp-for="Tipo_Documento" class="form-control input-group, dropdown-submenu" asp-items="@ViewBag.TipoDocumento">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Número_de_Documento" class="control-label"></label>
                <input asp-for="Número_de_Documento" class="form-control" />
                <span asp-validation-for="Número_de_Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificador_Cliente" class="control-label"></label>
                <select asp-for="Identificador_Cliente" class="form-control input-group, dropdown-submenu" asp-items="@ViewBag.IdenCliente">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control input-group, dropdown-submenu" asp-items="@ViewBag.Estado">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
